@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1763729127740') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e6af";
}

.icon-gift:before {
  content: "\e681";
}

.icon-add:before {
  content: "\e6a8";
}

.icon-message:before {
  content: "\e668";
}

.icon-money:before {
  content: "\e669";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-star:before {
  content: "\e7df";
}

.icon-more:before {
  content: "\e6cb";
}

.icon-home:before {
  content: "\ea03";
}

